@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Rozha+One&display=swap");
.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url('./images/landing.jpg'); 
  background-size: cover;
}


.top-right {
  position: absolute;
  top: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  right: 0.5rem;
  justify-content: flex-end;
  font-family:'Rozha One', sans-serif;
  font-size: 55px;
  line-height: 3rem;
  color: white;
  letter-spacing: .4rem;
  width: 13.5rem;
  margin-right: 1.9rem;
}


.first {
  margin-right: 1rem;
  background-color: black;
  
}

.second {
  margin-left: 1.2rem;
  margin-top: 5px;
  background-color: black;
}

/* layout for iphone 8-1 */
@media only screen and (max-width: 668px) {

  .App {
    background-image: url('./images/landing.jpg'); 
    background-size: 1380px auto;
    /* width: 414px; */
    /* transform: scale(1.2); */
  }
  .top-right {
    font-size: 30px;
    width: 10rem;
  }
}